framework:
    secret: '%env(APP_SECRET)%'
    csrf_protection: true
    http_method_override: false

    session:
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native

    php_errors:
        log: true

when@test:
    framework:
        session:
            handler_id: null
            cookie_secure: auto
            cookie_samesite: lax
            storage_factory_id: session.storage.factory.native
            cookie_lifetime: 3600
            cookie_path: /
            