<form method="post" action="{{ path('app_carpool_delete', {'id': carpool.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce covoiturage ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ carpool.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>